body{
    background-color: lightgreen;
    margin: 0;

}

.Reg{
    background-color: rgb(226, 226, 226);
    text-align: center;
    font-size: 30px;
    font-weight: 100px;
    color: rgb(0, 81, 255);
    font-display:calc();
}

nav{
    padding: 5px 5px !important;
}
